table{
    border: 1px solid black;
  border-collapse:collapse ;
  padding: 2px;
  text-align: center; 
 

}
td{
    border: 1px solid black;
    padding: 1px;
}
th{
    border-bottom: 1px solid black;
  border: 2px solid black;
  padding: 5px;
}

  .btn-color1 {
    background-color: green;
  }
  .btn-color2 {
    background-color: yellowgreen;
  }
  .btn-color3 {
    background-color: goldenrod;
  }
  
 